.control-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.button {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.start {
  background-color: #28a745;
  color: #fff;
}

.pause {
  background-color: #6c757d;
  color: #fff;
}

.reset {
  background-color: #2470b3;
  color: #fff;
}



