.timer{
    width: 100%;
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
}

.alarm{
    flex-direction: row;
}
  
.digits{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0em;
    font-size: 4rem;
    color:  #f5f5f5;
}
  
.mili-sec{
    color:  #080808;
}